html {
    font-size: 7px;
}

.question-info > div:first-child  {
    color: var(--clr-text);
}

#grid-container {
    padding: var(--space-1);
    display: grid;
    grid-template-rows: repeat(11, 1fr);
    align-items: center;
    gap: var(--space-1);
    border: 1px solid var(--clr-text);
}

.row {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    align-items: center;
    gap: var(--space-1);
}

.row div,
.row button {
    border: 1px solid var(--clr-text);
    padding: var(--space-1);
    width: var(--space-1);
    height: var(--space-1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.given {
    background-color: var(--clr-secondary);
    color: var(--clr-background);
}

#grid-container .void {
    border: 0px;
}

@media (min-width: 150px) {
    html {
        font-size: 8px;
    }
}

@media (min-width: 250px) {
    html {
        font-size: 12px;
    }

    #grid-container {
        padding: var(--space-2);
        gap: var(--space-2);
    }
    
    .row div,
    .row button {
        width: var(--space-2);
        height: var(--space-2);
    }
}

@media (min-width: 350px) {
    html {
        font-size: 13px;
    }

    #grid-container {
        gap: var(--space-3);
    }
    
    .row div,
    .row button {
        padding: var(--space-2);
    }
}

@media (min-width: 500px) {
    html {
        font-size: 16px;
    }

    #grid-container {
        border-width: 3px;
    }
    
    .row {
        gap: var(--space-2);
    }
}

@media (min-width: 750px) {    
    .row {
        gap: var(--space-3);
    }
    
    .row div,
    .row button {
        padding: var(--space-2);
        width: var(--space-5);
        height: var(--space-5);
    }
}

@media (min-width: 1000px) {
    html {
        font-size: var(--fs-300);
    }

    #grid-container {
        padding: var(--space-5);
        gap: var(--space-5);
    }
    
    .row {
        gap: var(--space-5);
    }
    
    .row div,
    .row button {
        width: 100%;
        height: 100%;
    }
}